#seattle {
  padding-top: 15px;
  padding-bottom: 15px;
}

#tokyo {
  padding-bottom: 15px;
}

#dubai {
  padding-bottom: 15px;
}

#paris {
  padding-bottom: 15px;
}

#lima {
  padding-bottom: 15px;
}