/* Google font - font-family: 'Advent Pro', sans-serif;  */

body {
  color: #392b1b;
}

#main-body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #d1c5b8;
}

#sales-body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: #d1a77c;
}

#seattle {
  padding-top: 15px;
  padding-bottom: 15px;
}

#tokyo {
  padding-bottom: 15px;
}

#dubai {
  padding-bottom: 15px;
}

#paris {
  padding-bottom: 15px;
}

#lima {
  padding-bottom: 15px;
}

#cookie-table, th, td, tr {
  border: 1px solid #471e0a;
}